<div class="header__navbar-cart">
    <a class="ti-shopping-cart" style="text-decoration: none;color:black;" href="/cart">
        <span class="header__navbar-cart-notice">0</span>
    </a>
    <div class="header__navbar-cart-box">
        <div class="header__navbar-cart-mine">
            <a href="/cart">Giỏ hàng của bạn</a>
        </div>
        <div class="header__navbar-ship">
            <a href="/cart" class="header__navbar-ship-link">
                Vận chuyển toàn quốc
            </a>
        </div>
    </div>
</div>
<div class="header__cart-list header__cart--has-list">
    <!-- NO CART: header__cart--no-list -->
    <span class="header__cart-list-no-cart-msg">
        Hiện chưa có sản phẩm
    </span>
    <!-- HAS CART: header__cart--has-list -->
    <ul class="header__cart-list-item">
        <li class="header__cart-item">
            <a href="" class="header__cart-img-link">
                <img src="./assets/image/renoir_48_kho1_small.jpg" alt="" class="header__cart-img">
            </a>
            <div class="header__cart-info">
                <a href="" class="header__cart-item-name">
                    <span>Chì màu khô MARCO RENOIR 48 màu (hộp thiếc)</span>
                </a>
                <div class="header__cart-item-quantity">
                    <span>Số lượng: 1</span>
                </div>
                <div class="header__cart-item-price">
                    <span>Giá: 500,000₫</span>
                </div>
            </div>
        </li>
        <li class="header__cart-item">
            <a href="" class="header__cart-img-link">
                <img src="./assets/image/renoir_48_kho1_small.jpg" alt="" class="header__cart-img">
            </a>
            <div class="header__cart-info">
                <a href="" class="header__cart-item-name">
                    <span>Chì màu khô MARCO RENOIR 48 màu (hộp thiếc)</span>
                </a>
                <div class="header__cart-item-quantity">
                    <span>Số lượng: 1</span>
                </div>
                <div class="header__cart-item-price">
                    <span>Giá: 500,000₫</span>
                </div>
            </div>
        </li>
        <li class="header__cart-item">
            <a href="" class="header__cart-img-link">
                <img src="./assets/image/renoir_48_kho1_small.jpg" alt="" class="header__cart-img">
            </a>
            <div class="header__cart-info">
                <a href="" class="header__cart-item-name">
                    <span>Chì màu khô MARCO RENOIR 48 màu (hộp thiếc)</span>
                </a>
                <div class="header__cart-item-quantity">
                    <span>Số lượng: 1</span>
                </div>
                <div class="header__cart-item-price">
                    <span>Giá: 500,000₫</span>
                </div>
            </div>
        </li>
    </ul>
    <span class="header__cart-list-line">
    </span>
    <div class="header__cart-pay">
        <span class="header__cart-total">
            TỔNG TIỀN:
        </span>
        <span class="header__cart-money">
            0₫
        </span>
    </div>
    <div class="header__cart-function">
        <a href="/cart" class="header__cart-link-to-cart">
            XEM GIỎ HÀNG
        </a>
        <a href="/cart" class="header__cart-link-to-checkout">
            THANH TOÁN
        </a>
    </div>
</div>
