<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pd5">
                <h3 class="cart-title">Giỏ hàng</h3>
                <div class="table-main">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img class="img-fluid" src="./assets/image/KuretakeZigKhangNuoc.jpg" alt="" />
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a href="">
                                        Bút Cọ Gốc Nước Calligraphy Kuretake Fudebiyori 48 Màu - Bán Lẻ
                                    </a>
                                    <span>202 - Peach Pink</span>
                                </td>
                                <td class="price-pr">
                                    <p>28,000₫</p>
                                </td>
                                <td class="quantity-box">
                                    <input type="number" size="4" data-id="" value="1" min="0" step="1" style="width:80%">
                                </td>
                                <td class="total-pr">
                                    <p>28,000₫</p>
                                </td>
                                <td class="remove-pr">
                                    <a href="#" data-id="" class="btn-delete">
                                        <i class="ti-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img class="img-fluid" src="./assets/image/KuretakeZigKhangNuoc.jpg" alt="" />
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a href="">
                                        Bút Cọ Gốc Nước Calligraphy Kuretake Fudebiyori 48 Màu - Bán Lẻ
                                    </a>
                                    <span>202 - Peach Pink</span>
                                </td>
                                <td class="price-pr">
                                    <p>28,000₫</p>
                                </td>
                                <td class="quantity-box">
                                    <input type="number" size="4"  class="txtQuantity" data-id="" value="1" min="0" step="1" style="width:80%">
                                </td>
                                <td class="total-pr">
                                    <p>28,000₫</p>
                                </td>
                                <td class="remove-pr">
                                    <a href="#" data-id="" class="btn-delete">
                                        <i class="ti-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--BEGIN CART MOBILE-->
                <div class="table-mobile">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" style="text-align: center;">Sản Phẩm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="thumbnail-img-mobile">
                                <td><img class="img-fluid" src="./assets/image/KuretakeZigKhangNuoc.jpg" alt="" /></td>
                                <td>
                                    <a href="" class="name-mobile">
                                        Bút Cọ Gốc Nước Calligraphy Kuretake Fudebiyori 48 Màu - Bán Lẻ
                                    </a>
                                    <p style="margin-bottom: 5px; color:orange">202 - Peach Pink</p>
                                    <div class="price">
                                        <span class="price-old">30,000₫</span>
                                        <span class="price-new">28,000₫</span>
                                    </div>
                                    <div class="buttons_added">
                                        <input class="minus is-form" type="button" value="-">
                                        <input aria-label="quantity" class="input-qty" max="1000" min="1" name="" type="number" value="1">
                                        <input class="plus is-form" type="button" value="+">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" src="./assets/image/KuretakeZigKhangNuoc.jpg" alt="" /></td>
                                <td>
                                    <a href="" class="name-mobile">
                                        Bút Cọ Gốc Nước Calligraphy Kuretake Fudebiyori 48 Màu - Bán Lẻ
                                    </a>
                                    <p style="margin-bottom: 5px; color:orange">202 - Peach Pink</p>
                                    <div class="price">
                                        <span class="price-old">30,000₫</span>
                                        <span class="price-new">28,000₫</span>
                                    </div>
                                    <div class="buttons_added">
                                        <input class="minus is-form" type="button" value="-">
                                        <input aria-label="quantity" class="input-qty" max="1000" min="1" name="" type="number" value="1">
                                        <input class="plus is-form" type="button" value="+">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--END CART MOBILE-->
                <div class="cart-btn__controls">
                    <button id="btnUpdate" class="btn btn-theme">Mua Tiếp</button>
                    <button id="btnContinue" class="btn btn-theme">Cập Nhật Giỏ Hàng</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pd5">
                <div class="order-box">
                    <h3>Đơn hàng</h3>
                    <div class="d-flex">
                        <h4>Tổng tiền</h4>
                        <div class="ml-auto font-weight-bold">56,000₫ </div>
                    </div>
                    <div class="d-flex">
                        <h4>Giảm giá</h4>
                        <div class="ml-auto font-weight-bold">0₫ </div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex gr-total">
                        <h5>Thành tiền</h5>
                        <div class="ml-auto h5" style="color:#e32124">56,000₫ </div>
                    </div>
                    <hr>
                </div>
                <div>
                    <button class="ml-auto btn hvr" id="btnPayment">Tiến hành thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>