<div class="container">
    <div class="col-8">
        <div class="title">
            <h3>Lịch sử đơn hàng</h3>
        </div>
        <div class="order-list row">
            <table class="table order-table">
                <thead class="order-table_head">
                    <tr class="order-table__row">
                        <th class="order-table__row-title">
                            Mã đơn hàng
                        </th>
                        <th class="order-table__row-title">
                            Ngày đặt
                        </th>
                        <th class="order-table__row-title">
                            Trạng thái
                        </th>
                        <th class="order-table__row-title">
                            Tổng tiền
                        </th>
                    </tr>
                </thead>
                <tbody class="order-table_body">
                   <% if(orders.length >0){%>
                    <%orders.forEach(order=>{%>
                        <tr>
                            <td>
                                <%= order._id%>
                            </td>
                            <td>
                                <%=order.createAt%>
                            </td>
                            <td>
                                <%=order.status%>
                            </td>
                            <td>
                                <%=order.totalprice%>
                            </td>
                        </tr>
                    <%})%>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">

    </div>
</div>