<div class="container">
    <div class="col-8">
        <div class="title">
            <h3>Lịch sử đơn hàng</h3>
        </div>
        <div class="order-list row">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            Mã đơn hàng
                        </th>
                        <th>
                            Ngày đặt
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">

    </div>
</div>